### 1. connect hive source

In [1]:
from pyspark.sql import SparkSession
#
spark = SparkSession.builder\
    .master("local[*]")\
    .appName("SparkHive")\
    .config("spark.sql.warehouse.dir","hdfs://node120:9000/hive/warehouse")\
    .config("hive.metastore.uris","thrift://node120:9083")\
    .enableHiveSupport()\
    .getOrCreate()

In [6]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|      db1|
|  default|
+---------+

In [3]:
#显示默认数据库中的表
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|     haha|      false|
|  default|  student|      false|
|  default|  teacher|      false|
+---------+---------+-----------+

In [10]:
# 创建表
spark.sql("create table student(id int, name string) row format delimited fields terminated by '\t' ")

DataFrame[]

In [10]:
#显示默认数据库中的表
spark.sql("use db1")
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|      db1|      stu|      false|
+---------+---------+-----------+